<!DOCTYPE html>
<html>
<head data-suburl="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Sign In - Gitea: kmc&#39;s git repository</title>
	<meta name="theme-color" content="#6cc644">
	<meta name="author" content="Gitea - Git with a cup of tea" />
	<meta name="description" content="Gitea (Git with a cup of tea) is a painless self-hosted Git service written in Go" />
	<meta name="keywords" content="go,git,self-hosted,gitea">
	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="pvEkGhV4QEik9xrfYesuXlLyz_A6MTU0NDk3NTE5NDc1NTI3Njg4MA==" />
	<meta name="_suburl" content="" />
	
	
	


	<script>
	/*
	@licstart  The following is the entire license notice for the
        JavaScript code in this page.

	Copyright (c) 2016 The Gitea Authors
	Copyright (c) 2015 The Gogs Authors

	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in
	all copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	THE SOFTWARE.
	---
	Licensing information for additional javascript libraries can be found at:
	  {{AppSubUrl}}/vendor/librejs.html

	@licend  The above is the entire license notice
        for the JavaScript code in this page.
	*/
	</script>

	<link rel="shortcut icon" href="/img/favicon.png" />
	<link rel="mask-icon" href="/img/gitea-safari.svg" color="#609926">
	<link rel="preload" href="/vendor/assets/font-awesome/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/vendor/assets/font-awesome/css/font-awesome.min.css"></noscript>
	<link rel="stylesheet" href="/vendor/assets/octicons/octicons.min.css">







	
	<link rel="stylesheet" href="/vendor/plugins/semantic/semantic.min.css">
	<link rel="stylesheet" href="/css/index.css?v=01f86b8fd169fccb33fcf2eedb34e71d">
	<noscript>
		<style>
			.dropdown:hover > .menu { display: block; }
			.ui.secondary.menu .dropdown.item > .menu { margin-top: 0; }
		</style>
	</noscript>





	<style class="list-search-style"></style>

	<script src="/vendor/plugins/cssrelpreload/loadCSS.min.js"></script>
	<script src="/vendor/plugins/cssrelpreload/cssrelpreload.min.js"></script>

	<meta property="og:title" content="Gitea: kmc&#39;s git repository">
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/img/gitea-lg.png" />
	<meta property="og:url" content="https://git.genkmc.de/" />
	<meta property="og:description" content="Gitea (Git with a cup of tea) is a painless self-hosted Git service written in Go">



</head>
<body>
	

	<div class="full height">
		<noscript>This website works better with JavaScript.</noscript>

		

		
			<div class="ui top secondary stackable main menu following bar light">
				<div class="ui container" id="navbar">
	<div class="item brand" style="justify-content: space-between;">
		<a href="/">
			<img class="ui mini image" src="/img/gitea-sm.png">
		</a>
		<div class="ui basic icon button mobile-only" id="navbar-expand-toggle">
			<i class="sidebar icon"></i>
		</div>
	</div>

	
		<a class="item " href="/">Home</a>
		<a class="item " href="/explore/repos">Explore</a>
	

	

	

	

		<a class="item" target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io">Help</a>
		<div class="right stackable menu">
			
			<a class="item active" href="/user/login?redirect_to=%2fuser%2flogin">
				<i class="octicon octicon-sign-in"></i> Sign In
			</a>
		</div>

	
</div>

			</div>
		


<div class="user signin">
	

	<div class="ui container">
				
		



		
		<h4 class="ui top attached header center">
			Sign In
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="/user/login" method="post">
			<input type="hidden" name="_csrf" value="pvEkGhV4QEik9xrfYesuXlLyz_A6MTU0NDk3NTE5NDc1NTI3Njg4MA==">
			<div class="required inline field ">
				<label for="user_name">Username or Email Address</label>
				<input id="user_name" name="user_name" value="" autofocus required>
			</div>
			<div class="required inline field ">
				<label for="password">Password</label>
				<input id="password" name="password" type="password" value="" autocomplete="off" required>
			</div>
			
			<div class="inline field">
				<label></label>
				<div class="ui checkbox">
					<label>Remember Me</label>
					<input name="remember" type="checkbox">
				</div>
			</div>
			

			<div class="inline field">
				<label></label>
				<button class="ui green button">Sign In</button>
				<a href="/user/forgot_password">Forgot password?</a>
			</div>

			

			
			</form>
		</div>

	</div>
</div>


	

	</div>

	

	<footer>
	<div class="ui container">
		<div class="ui left">
			© Gitea Version: 200b974 Page: <strong>3ms</strong> Template: <strong>0ms</strong>
		</div>
		<div class="ui right links">
			
			<div class="ui language bottom floating slide up dropdown link item">
				<i class="world icon"></i>
				<div class="text">English</div>
				<div class="menu">
					
						<a class="item active selected" href="#">English</a>
					
						<a class="item " href="/user/login?lang=zh-CN">简体中文</a>
					
						<a class="item " href="/user/login?lang=zh-HK">繁體中文（香港）</a>
					
						<a class="item " href="/user/login?lang=zh-TW">繁體中文（台灣）</a>
					
						<a class="item " href="/user/login?lang=de-DE">Deutsch</a>
					
						<a class="item " href="/user/login?lang=fr-FR">français</a>
					
						<a class="item " href="/user/login?lang=nl-NL">Nederlands</a>
					
						<a class="item " href="/user/login?lang=lv-LV">latviešu</a>
					
						<a class="item " href="/user/login?lang=ru-RU">русский</a>
					
						<a class="item " href="/user/login?lang=uk-UA">Українська</a>
					
						<a class="item " href="/user/login?lang=ja-JP">日本語</a>
					
						<a class="item " href="/user/login?lang=es-ES">español</a>
					
						<a class="item " href="/user/login?lang=pt-BR">português do Brasil</a>
					
						<a class="item " href="/user/login?lang=pl-PL">polski</a>
					
						<a class="item " href="/user/login?lang=bg-BG">български</a>
					
						<a class="item " href="/user/login?lang=it-IT">italiano</a>
					
						<a class="item " href="/user/login?lang=fi-FI">suomi</a>
					
						<a class="item " href="/user/login?lang=tr-TR">Türkçe</a>
					
						<a class="item " href="/user/login?lang=cs-CZ">čeština</a>
					
						<a class="item " href="/user/login?lang=sr-SP">српски</a>
					
						<a class="item " href="/user/login?lang=sv-SE">svenska</a>
					
						<a class="item " href="/user/login?lang=ko-KR">한국어</a>
					
				</div>
			</div>
			<a href="/vendor/librejs.html" data-jslicense="1">JavaScript licenses</a>
			<a href="/api/swagger">API</a>
			<a target="_blank" rel="noopener noreferrer" href="https://gitea.io">Website</a>
			<span class="version">Go1.10.5</span>
		</div>
	</div>
</footer>


	<script src="/vendor/plugins/jquery/jquery.min.js"></script>
	<script src="/vendor/plugins/jquery.areyousure/jquery.are-you-sure.js"></script>











	<script src="/vendor/plugins/emojify/emojify.min.js"></script>
	<script src="/vendor/plugins/clipboard/clipboard.min.js"></script>
	<script src="/vendor/plugins/vue/vue.min.js"></script>

	
	<script src="/vendor/plugins/semantic/semantic.min.js"></script>
	<script src="/js/index.js?v=01f86b8fd169fccb33fcf2eedb34e71d"></script>

</body>
</html>

